    <div class="list-content">
        <div class="img-container">
            <img [src]="product?.thumbnail">
        </div>
        <div class="infos-container">
            <div class="name-container">
                <label>{{product?.name}}</label>
            </div>
            <div class="tagline-container">
                <label>{{product?.tagline}}</label>
            </div>
            <div class="votes-container">
                <label>{{product?.votes_count}}</label>
            </div>
            <div class="day-container">
                <label>{{product?.day}}</label>
            </div>
        </div>

    </div>
    <mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal"></mat-divider>